
/* =================================================
            ALL COMMON CSS PART START                    
================================================== */
:root {
    --PRIMARY_COLOR: #FD6E0A;
    --BACKGROUND_COLOR: #FFF8F3;
    --WHITE_COLOR: #fff;
    --BLACK_COLOR: #000;
    --TEXT_COLOR: #757575;
    --ROBOTO: 'Roboto', sans-serif;
    --OPEN_SAN: 'Open Sans', sans-serif;
    --HEADING_COLOR: #181818;
    --H2_COLOR: #474747;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}
body {
    font-family: var(--OPEN_SAN);
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0;
}
a,
li,
ol,
ul {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

img {
    width: 100%;
    vertical-align: middle;
    object-fit: cover;
}
.common_btn {
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.common_btn a {
    border: 1px solid var(--PRIMARY_COLOR);
    background-color: var(--PRIMARY_COLOR);
    color: var(--WHITE_COLOR);
    padding: 15px 20px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    cursor: pointer;
}
.common_btn:hover a {
    border: 1px solid var(--PRIMARY_COLOR);
    background-color: var(--WHITE_COLOR);
    color: var(--PRIMARY_COLOR);
}
.common_btn a .icon {
    display: flex;
    align-items: center;
    gap: 10px;
}
.common_btn a .icon i {
    font-size: 25px;
}


/* =================================================
            ALL COMMON CSS PART END                    
================================================== */



/* =================================================
                HEADER PART START                    
================================================== */
header {
    background-color: var(--BACKGROUND_COLOR);
    background-image: url(../images/header_bg.png), url("../images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, bottom left;
    background-size: 750px auto, 100px auto;
}

/* NAV BARR PART START  */
header nav {
    padding: 30px 50px 30px 110px;
    /* background: rgba(253, 111, 10, 0.56); */
}
header nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav .container .logo {}
header nav .container .logo a {}
header nav .container .logo a img {}

header nav .container .text {
    display: flex;
    gap: 50px;
    align-items: center;
}
header nav .container .text ul {
    display: flex;
    gap: 70px;
}
header nav .container .text ul li a {
    color: var(--H2_COLOR);
    font-size: 20px;
    text-transform: uppercase;
    font-family: var(--ROBOTO);
}
header nav .container .text ul li:hover a {
    color: var(--PRIMARY_COLOR);
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
header nav .container .text button {
    border: none;
}
header nav .container .text button a {
    font-family: var(--ROBOTO);
    font-size: 20px;
    padding: 20px 35px;
    color: var(--WHITE_COLOR);
    background-color: var(--PRIMARY_COLOR);
    border: 1px solid var(--PRIMARY_COLOR);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
header nav .container .text button a:hover {
    color: var(--PRIMARY_COLOR);
    background-color: var(--WHITE_COLOR);
}
/* NAV BARR PART END  */

/* BANNER PART START  */
header .container {}
header .container #banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}
header .container #banner .text {
    max-width: 500px;
    padding-left: 39px;
}
header .container #banner .text h2 {
    font-size: 45px;
    margin-bottom: 15px;
    color: var(--H2_COLOR);
}
header .container #banner .text h1 {
    font-size: 65px;
    margin-bottom: 20px;
    color: var(--HEADING_COLOR);
    font-weight: 700;
}
header .container #banner .text p {
    font-size: 16px;
    color: var(--TEXT_COLOR);
}
header .container #banner .text .btn {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}
header .container #banner .image {
    padding: 0;
    margin: 0;
}
header .container #banner .image img {
    width: 550px;
    margin: 0 auto;
    padding-top: 30px;
    margin-bottom: -0px;
}
/* BANNER PART END  */
/* =================================================
                HEADER PART END                    
================================================== */




/* =================================================
                ABOUT PART START                    
================================================== */
.about_part{
    margin: 130px auto;

}
.about_part .container{
    background: var(--BACKGROUND_COLOR);
    padding: 130px 155px;
    text-align: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.about_part .container .hadding_caption{}
.about_part .container .hadding_caption h2{
    font-size: 35px;
    font-weight: 700;
    color: var(--HEADING_COLOR);
    margin-bottom: 30px;
}
.about_part .container .hadding_caption .caption{
    font-size: 18px;
    line-height: 30px;
    color: var(--TEXT_COLOR);
    margin-bottom: 30px;
}
.about_part .container .description{
    font-size: 20px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    color: var(--TEXT_COLOR);
}
.about_part .container .description .about_information{
    background-color: var(--WHITE_COLOR);
    padding: 9px;
    border-radius: 10px;
    line-height: 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.about_part .container .description .about_information .title {
    font-size: 16px;
}
.about_part .container .description .about_information .about_description a{
    color: var(--H2_COLOR);
    font-weight: 500;
    font-size: 15px;
}

/* =================================================
                ABOUT PART END                    
================================================== */



/* =================================================
                ABOUT PART START                    
================================================== */
/* =================================================
                ABOUT PART END                    
================================================== */



/* =================================================
                ABOUT PART START                    
================================================== */
/* =================================================
                ABOUT PART END                    
================================================== */



/* =================================================
                ABOUT PART START                    
================================================== */
/* =================================================
                ABOUT PART END                    
================================================== */



/* =================================================
                ABOUT PART START                    
================================================== */
/* =================================================
                ABOUT PART END                    
================================================== */
